
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing:border-box;
}
body{
    padding: 0;
    margin: 0;
    background-image: url("../images/back.jpg");
    position: relative;
    background:cover;
}
.header{
    background-color: white;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color:rgb(194, 93, 93);
    text-align: center;
    position: fixed;
    height: 100px;  
    margin-top:-35px; 
    display: flex;
    justify-content: space-around;
    top: -2px;
}
.container{
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 5% 50% 5% 20%;
    padding: 10px;
    border-radius: 10px;   
}
.container h1{
    font-family: 'Lobster', cursive;
    justify-content: center;
    display: flex;
    text-align: center;
    color:rgb(194, 93, 93);

}
.questions{
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.questions >p{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.questions >p  input{
    font-family: 'Lobster', cursive;
padding: 10px;}
.questions .btn{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    background-color:white;
    font-size: 30px;
    margin-top: 10px;

}

.questions .btn:hover{
    background-color: rgb(194, 93, 93);
    
}
.questions p span{
        color: red;
}

.score_board{
    background-color: rgb(218, 164, 164);
    padding: 20px;
    width:50%;
    height: 400px;
    position: fixed;
    top: 13%;
    border-radius: 10px;
    border: 1px solid rgb(192, 67, 171);
    text-align: center;
    display:none;
}
.score_value{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.score_board i{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
}
#sad, #happy, #avarage ,#hey{
    display: none;
    margin: auto;
}